<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/acidificacion" method="POST">
        <h4>Indice de Acidificación.</h4>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre del COV</label>
            <input type="text" name="compuesto" placeholder = 'Compuesto'>
        </div>
        <h4>Cantidad de átomos en la molecula.</h4>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cloro</label>
            <input type="number" name="cloro" placeholder = 'Cloro'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Flúor</label>
            <input type="number" name="fluor" placeholder = 'Fluor'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nitrógeno</label>
            <input type="number" name="nitrogeno" placeholder = 'Nitrogeno'>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Azufre</label>
            <input type="number" name="azufre" placeholder = 'Azufre'>
        </div>
        <button type="submit" class="btn btn-primary">
            Calcular
        </button>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col">COV</th>
                  <th scope="col">Potencial de acidificacion (AP)</th>
                  <th scope="col">Potencial de acidificacion de Referencia</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>compuesto</td>
                  <td>ap</td>
                  <td>lista_acida</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
          </table>
    </form>
